body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.home {
  background-image: linear-gradient(to right, #1B0550, #30065C, #3B0A70);
  background-size: cover;
  height: 120vh;
  width: 100%;
  position: relative;
}

.typing-effect {
  color: white;
}

.home-content {
  position: relative;
  /* top: 40vh; */
  z-index: 2;
}

.table, .table2, .table4, .table6 {
  background-color: #f1f1f1;
}

#intro {
  /* background-color: #1c0b33; */
}

.home-content {
  /* margin-bottom: 20px; */
}

@media (max-width: 768px) {
  .home-content {
    text-align: center;
  }

  .home-content h2 {
    font-size: 1.5rem;
  }

  .home-content p {
    font-size: 1rem;
  }

  .home-content .btn {
    margin-top: 10px;
  }

  .home img {
    width: 100%;
    height: auto;
  }
}
@media (min-width: 768px) {
  .home-content {
    position: relative;
    top: 150px;
  }
}
